<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Insert title here</title>
</head>
<body>
    <div>
        <a th:href="@{/home}"><img alt="Marca IT Monitor" th:src="@{images/it-monitor-trademark.png}"></a>
    </div>

    <h1 th:inline="text">Hello [[${username}]]!</h1>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>

    <div>
        <a th:href="@{/account}">Cuenta</a>
        <a th:href="@{/register-machine}">Registrar una máquina</a>
        <a th:href="@{/machines}">Ver máquinas</a>
        <a th:href="@{/client-app}">App cliente</a>
    </div>

</body>
</html>