<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Insert title here</title>
    <link rel="stylesheet" href="/styles/style.css">

</head>
<body>
    <!--Header-->
    <header>
        <div class="horizontal header_superior">
            <a th:href="@{/login}"><img alt="Marca IT Monitor" th:src="@{images/it-monitor-trademark.png}" class="logo margin-vertical"></a>
            <div class="margin-vertical logout-div">
                <h3>No identificado</h3>
            </div>
        </div>
        <div class="header_azul"></div>
    </header>

    <!--Main content-->
    <main>
        <h1 th:text="${titulo}" class="centrado margin-vertical"></h1>
        <div class="login-main">
            <div>
                <form th:action="@{/login}" method="post" >
                    <fieldset class="columna">
                        <div th:if="${param.logout}">
                            <b>Has salido de la sesión.</b>
                        </div>

                        <label class=""><b>Usuario: </b></label>
                        <input type="text" name="username"/>

                        <label><b>Contraseña: </b></label>
                        <input type="password" name="password"/>

                        <div th:if="${param.error}" class="error">
                            <b>Usuario o contraseña incorrectos.</b>
                        </div>

                        <div class="form-actions">
                            <button type="submit" class="btn boton-accion margin-vertical">Iniciar sesión</button>
                        </div>
                    </fieldset>

                </form>
            </div>

            <hr>

            <div class="boton-grande-div">
                <p>Si no tienes una cuenta de usuario, regístrate aquí:</p>

                <a th:href="@{/register}">
                    <button class="btn boton-icono-grande">
                        <img th:src="@{images/register.png}" width="200" alt="Registro de usuario" class="">
                    </button>
                </a>
                <p>Registro de usuario</p>
            </div>

            </div>
        </div>
    </main>

    <!--Footer-->
    <footer>
        <div class="footer_superior">
            <nav class="footer_links">
                <a th:href="@{/legal}">Información legal</a>
                <hr>
                <a th:href="@{/privacy}">Privacidad</a>
            </nav>
            <nav class="footer_links">
                <a href="https://www.uc3m.es/inicio/contacta" target="_blank">Dudas y problemas</a>
                <hr>
                <a th:href="@{/cookies}">Cookies</a>
            </nav>
            <div>
                <img th:src="@{images/it-monitor-trademark-inverse.png}" alt="Logo IT Monitor" class="logo2">
            </div>
        </div>
        <div class="centrado derechos_reservados">
            IT Monitor - Todos los derechos reservados 2022 &copy;
        </div>
    </footer>
</body>
</html>