<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div>
    <a th:href="@{/home}"><img alt="Marca IT Monitor" th:src="@{images/it-monitor-trademark.png}"></a>
  </div>

  <h2 th:inline="text">Las maquinas: [[${machines}]]!</h2>

  <table th:if="${machines != null}" >
      <thead>
      <tr>
          <th>id</th>
          <th>register_date</th>
          <th>type</th>
          <th>last_timestamp</th>
      </tr>
      </thead>
      <tbody>
      <tr th:if="${machines == null}" th:each="machine: ${machines}">
          <td th:text="${machine.id}"></td>
          <td th:text="${machine.name}"></td>
          <td th:text="${machine.type}"></td>
          <!--
          <td><a th:href="@{/form/} + ${producto.id}">editar</a></td>
          <td><a th:href="@{/eliminar/} + ${producto.id}" onclick="return confirm('estas seguro que desea eliminar?');">eliminar</a></td>
          -->
      </tr>
      </tbody>
  </table>

  <div th:if="${machines != null}">No machines has been found assigned to you, wanna register one?</div>

  <form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
  </form>
</body>
</html>