<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Insert title here</title>
    <link rel="stylesheet" href="styles/style.css">

</head>
<body>
    <!--Header-->
    <header>
        <div class="horizontal header_superior">
            <a th:href="@{/login}"><img alt="Marca IT Monitor" th:src="@{images/it-monitor-trademark.png}" class="logo margin-vertical"></a>
            <div class="margin-vertical logout-div">
                <h3>No identificado</h3>
            </div>
        </div>
        <div class="header_azul"></div>
    </header>

    <!--Main content-->
    <main>
        <h1 th:text="${titulo}" class="centrado margin-vertical"></h1>
        <div class="login-main">
            <div>
                <form th:action="@{/register}" method="post" >
                    <fieldset class="columna">
                        <label class=""><b>Usuario: </b></label>
                        <input type="text" name="name" required/>

                        <label><b>Contraseña: </b></label>
                        <input type="password" name="password" required/>

                        <label><b>Repite la contraseña: </b></label>
                        <input type="password" name="password2" required/>

                        <div class="margin-vertical">
                            <label>He leído la <u>Información legal</u> y acepto las condiciones: </label>
                            <input type="checkbox" name="consent" required/>
                        </div>

                        <div th:if="${param.error}" class="error">
                            <p><b>Usuario ya existente en la base de datos.</b></p>
                        </div>

                        <div class="form-actions">
                            <button type="submit" class="btn boton-accion margin-vertical">Registrarse</button>
                        </div>
                    </fieldset>

                </form>
            </div>

            <hr>

            <div class="boton-grande-div">
                <p>Si ya tienes una cuenta de usuario, inicia sesión aquí:</p>
                <a th:href="@{/login}">
                    <button class="btn boton-icono-grande">
                        <img th:src="@{images/user.png}" width="200" alt="Iniciar sesion" class="">
                    </button>
                </a>
                <p>Inicio de sesión</p>
            </div>

        </div>
        </div>
    </main>



    <!--Footer-->
    <footer>
        <div class="footer_superior">
            <nav class="footer_links">
                <a href="https://www.uc3m.es/inicio/informacion-legal" target="_blank">Información legal</a>
                <hr>
                <a href="https://www.uc3m.es/inicio/informacion-legal/politica-privacidad" target="_blank">Privacidad</a>
            </nav>
            <nav class="footer_links">
                <a href="https://www.uc3m.es/inicio/contacta" target="_blank">Dudas y problemas</a>
                <hr>
                <a href="https://www.uc3m.es/inicio/informacion-legal/politica-cookies" target="_blank">Cookies</a>
            </nav>
            <div>
                <img th:src="@{images/it-monitor-trademark-inverse.png}" alt="Logo IT Monitor" class="logo2">
            </div>
        </div>
        <div class="centrado derechos_reservados">
            IT Monitor - Todos los derechos reservados 2022 &copy;
        </div>
    </footer>
</body>
</html>